@font-face {
  font-family: "iconfont"; /* Project id 5103395 */
  src: url('iconfont.woff2?t=1768359216180') format('woff2'),
       url('iconfont.woff?t=1768359216180') format('woff'),
       url('iconfont.ttf?t=1768359216180') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thought_fill:before {
  content: "\e613";
}

.icon-info-circle:before {
  content: "\e77e";
}

.icon-sync:before {
  content: "\e786";
}

.icon-pubuliu:before {
  content: "\e608";
}

.icon-export:before {
  content: "\e791";
}

.icon-Import:before {
  content: "\e792";
}

.icon-file-pdf:before {
  content: "\e7b8";
}

.icon-indent:before {
  content: "\e7f3";
}

.icon-outdent:before {
  content: "\e7f4";
}

.icon-menu:before {
  content: "\e7f5";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-timeline:before {
  content: "\e6c0";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-solid:before {
  content: "\e8b3";
}

.icon-dash:before {
  content: "\e7fc";
}

.icon-line:before {
  content: "\e73a";
}

.icon-iocn_wavyLine:before {
  content: "\e611";
}

.icon-close-circle:before {
  content: "\e77d";
}

.icon-message:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-location:before {
  content: "\e790";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-footprints:before {
  content: "\ebd9";
}

