@font-face {
  font-family: "iconfont"; /* Project id 5103395 */
  src: url('iconfont.woff2?t=1768116071868') format('woff2'),
       url('iconfont.woff?t=1768116071868') format('woff'),
       url('iconfont.ttf?t=1768116071868') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-solid:before {
  content: "\e8b3";
}

.icon-dash:before {
  content: "\e7fc";
}

.icon-line:before {
  content: "\e73a";
}

.icon-iocn_wavyLine:before {
  content: "\e611";
}

.icon-close-circle:before {
  content: "\e77d";
}

.icon-message:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-location:before {
  content: "\e790";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-footprints:before {
  content: "\ebd9";
}

